RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /~dylan.heywood/surfdomeCOPY/html/index.php?path=$1
RewriteRule ^$ /~dylan.heywood/surfdomeCOPY/html/index.php